/* univarsal */
.container {
  padding-top: 10px;
}

a {
  display: block;
}

.line {
  height: 1px;
  width: 80%;
  background: white;
  margin: 0 auto;
}

/* header */
#header {
  background: linear-gradient(to right, #0200D9, #6600F5);
}

#header a {
  font-size: 50;
}

.banner-description {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.nav-item {
  padding: 0 20px;
}

.download-button {
  padding-top: 1rem;
}

/* banner-section */
#banner {
  background: linear-gradient(to right, #0200D9, #6600F5);
  color: #fff;
  padding-top: 5%;
  position: relative;
  margin-bottom: 5%;
}

#banner a {
  color: white;
}

.download-button p {
  display: inline-block;
  position: relative;
  text-align: left;
  padding: 8px 16px;
}

.download-button i {
  margin-right: 5px;
}

.banner-img {
  text-align: center;
}

.title-img {
  width: 60%;
  height: auto;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

/* features-section */
#features .container {
  padding-top: 1rem;
}

.title {
  margin: 0 auto 5% auto;
}

.title::before {
  content: '';
  background: #0BF5C9;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}

#features .row {
  margin-top: 40px;
}

.features {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.features h3 {
  margin: 5% auto;
}

.features p {
  margin: 5% auto 10% auto;
  line-height: 200%;
}

/* use-example section */
#how-to-use {
  background: #f8f9fa;
}

#how-to-use .title {
  margin-top: 2rem;
  margin-bottom: 5%;
}

#how-to-use .container {
  margin-top: 2rem;
  padding-bottom: 3rem;
}

#how-to-use a {
  color: gray;
}

.examples {
  padding-left: 10%;
  padding-right: 10%;
}

.example-img {
  height: 300px;
  width: auto;
}

.use-img {
  text-align: left;
}

.use-text {
  text-align: left;
}

.use-text p {
  line-height: 1.6;

}

.use-text h3 {
  margin-bottom: 1rem;
}

.use-example-1 {
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.use-example-2 {
  margin-bottom: 3rem;
}

.use-example-2 .use-text {
  order: -1;
}

/* download section */
#download {
  background: linear-gradient(to right, #0200D9, #6600F5);
  padding-top: 3rem;
  padding-bottom: 1rem;
}

#download .download-btn {
  margin-right: 2%;
}

#download i {
  margin-right: 5px;
}

.download-copy {
  color: white;
}

.download-copy h5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.download-copy ul {
  list-style: none;
}

.download-push {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.download-push p {
  display: inline-block;
}

/* footer */
#footer {
  background: #f8f9fa;
}

#footer p {
  font-size: 1rem;
  color: gray;
}

.footer-line {
  background: gray;
  height: 1px;
  width: 90%;
  margin: 2rem auto 2rem auto;
}

.social-media a {
  text-decoration: none;
}

.social-media span {
  margin-right: 10px;
}

/* media query */
@media screen and (max-width:990px) {
  .download-button {
    text-align: center;
  }

  #how-to-use h3 {
    margin-top: 0.5rem;
  }

  .use-img {
    text-align: center;
  }

  .use-text {
    text-align: center;
  }

  .use-example-2 .use-text {
    order: 0;
  }
}
